# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
drf-server/.venv/
fastapi-server/.venv/
.venv/

# Django
drf-server/db.sqlite3
drf-server/media/
drf-server/staticfiles/

# Environment
.env
*.env
.env.docker

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Test / cache
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Logs
*.log

.claude
skill
