apiVersion: v1
kind: Secret
metadata:
  name: diconai-secret
  namespace: diconai
type: Opaque
stringData:
  DJANGO_SECRET_KEY: "changeme-please-generate-a-strong-key"
  INTERNAL_SERVICE_TOKEN: "changeme-internal-token"
  DRF_SERVICE_TOKEN: "changeme-internal-token"
  JWT_SIGNING_KEY: "changeme-jwt-key"
  POSTGRES_PASSWORD: "changeme-postgres-password"
  GRAFANA_PASSWORD: "changeme-grafana-password"
